<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.css">

    <title>Hello, world!</title>
  </head>
  <body>
  <a href="/employee" class="btn btn-success"> Add new employee</a>


    <table class = table>
      <thead class="thead-light">
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">KRA</th>
        <th scope="col">House Allowance</th>
        <th scope="col">Department</th>
        <th scope="col">Position</th>
        <th scope="col">Basic Salary</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Action</th>
        <th scope="col">Action</th>
        <th scope="col">Action</th>
      </thead>

      <tbody>
 {% for row in displayemployees %}
    <tr>
        <td>{{row.id}}</td>
        <td>{{row.name}}</td>
        <td>{{row.kra}}</td>
        <td>{{row.houseallowance}}</td>
        <td>{{row.department}}</td>
        <td>{{row.postion}}</td>
        <td>{{row.basicsalary}}</td>
        <td>{{row.dob}}</td>
       <td>
           <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal{{row.id}}">
            Edit Details
           </button>
           <div class="modal fade" id="modal{{row.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit {{row.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/updateemployee/{{row.id}}" method="POST">
  <div class="form-group">
    <label for="Name">User Name</label>
    <input type="text" class="form-control" id="Name" name="form_name" value= {{row.name}} placeholder="Enter your name">
  </div>
  <div class="form-group">
    <label for="kra">KRA</label>
    <input type="text" class="form-control" id="kra" name="form_kra" value= {{row.kra}} placeholder="Enter your KRA Pin">
  </div>
   <div class="form-group">
    <label for="houseallowance">House Allowance</label>
    <input type="text" class="form-control" id="houseallowance" name="form_houseallowance" value= {{row.houseallowance}} placeholder="Enter your House allowance">
  </div>
    <div class="form-group">
    <label for="department">Department</label>
    <input type="text" class="form-control" id="department" name="form_department" value= {{row.department}} placeholder="Enter your Department">
  </div>
    <div class="form-group">
    <label for="Position">Position</label>
    <input type="text" class="form-control" id="Position" name="form_postion" value= {{row.postion}} placeholder="Enter your Position">
  </div>
    <div class="form-group">
    <label for="basicsalary">Basic Salary</label>
    <input type="text" class="form-control" id="basicsalary" name="form_basicsalary" value= {{row.basicsalary}} placeholder="Enter your Basic Salary">
  </div>
    <div class="form-group">
    <label for="dob">Date of birth</label>
    <input type="text" class="form-control" id="dob" name="form_dob" value= {{row.dob}} placeholder="Enter your Date of Birth">
  </div>
  <button type="submit" class="btn btn-primary">Save changes</button>
</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
       </td>
        <td>
            <a href="/deleteemployee/{{row.id}}" class="btn btn-danger"> Delete</a>
        </td>
        <td>
            <a href="/payroll/{{row.id}}" class="btn btn-danger"> Manage Employee</a>
        </td>
    </tr>
          {% endfor %}
    </table>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>